<div class="rounded-lg p-4 w-full h-screen">
  <div style="display: flex; flex-direction: column; height: 10vh; justify-content: center;">
    <h2>Bienvenido</h2>
    <app-logout></app-logout>
  </div>

  <!-- Espaciado con margen en lugar de <br> -->
  <div style="margin-bottom: 20px;">
    <app-signup></app-signup>
  </div>
  
  <div style="margin-bottom: 20px;">
    <app-login (loginSuccess)="mostrarPagos()"></app-login>
  </div>

  <div style="margin-bottom: 20px;">
    <app-recover-password></app-recover-password>
  </div>

  <div style="margin-bottom: 20px;">
    <app-circuit></app-circuit>
  </div>

  <!-- Espacio extra, ajustable según el diseño -->
  <div style="margin-bottom: 40px;"></div>

  <app-payments id="Pay" style="display:none"></app-payments>
  <router-outlet></router-outlet>
</div>
