<div class="rounded-lg p-4 w-full h-screen">
  <div style="display: flex; flex-direction: column; height: 10vh; justify-content: center;">
    <app-logout></app-logout>
  </div>

  <!-- Espaciado con margen en lugar de <br> -->
  <div style="margin-bottom: 20px;">
    <app-signup></app-signup>
  </div>
  
  <div style="margin-bottom: 20px;">
    <app-login (creditsChanged)="updateCredits()" (loginSuccess)="mostrarPagos()"></app-login>
  </div>

  <div style="margin-bottom: 20px;">
    <app-recover-password></app-recover-password>
  </div>

  <div style="margin-bottom: 20px;">
    <app-circuit  (creditsChanged)="updateCredits()"></app-circuit>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!-- Espacio extra, ajustable según el diseño -->
  <div style="margin-bottom: 40px;"></div>

  <app-payments id="Pay" style="display:none" (creditsChanged)="updateCredits()"></app-payments>
  <router-outlet></router-outlet>
</div>
