<h2 style="text-align: center;">Recuperar Contraseña(Mandar token)</h2>

<div style="border: none; padding: 10px;">
  <div style="border: 1px solid #ccc; padding: 15px; width: 50%; margin: auto; text-align: center;">
    <form (ngSubmit)="recoverPassword()" #recoverForm="ngForm">
      <label for="email" style="float: left"><strong>Correo Electrónico:</strong></label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required style="float: right">
      <br><br>
      <button type="submit" [disabled]="!recoverForm.valid">Enviar</button>
    </form>
  </div>
  <br>
  <h2 style="text-align: center;">Recuperar Contraseña(Mandar contraseña)</h2>
  <div style="border: 1px solid #ccc; padding: 15px; width: 50%; margin: auto;">
  <form (ngSubmit)="sendPasswordResetEmail()" #recoverForm="ngForm" style="text-align: center;">
    <label for="email" style="float: left;"><strong>Correo Electrónico:</strong></label>
    <input type="email" id="email" [(ngModel)]="email" name="email" required style="float: right;">
    <br><br>
    <label for="token" style="float: left;"><strong>Token:</strong></label>
    <input type="token" id="token" [(ngModel)]="token" name="token" required style="float: right;">
    <br><br>
    <button type="submit" [disabled]="!recoverForm.valid">Enviar</button>
  </form>
  </div>
</div>