

body, div, h2, label, button {
    color: inherit;
}

input{
    border-radius: 10px;
    width: 50%;
}

button{
    border-radius: 10px;
    background-color:  #007bff;
    color: white;
    border: none;
}