<h2 style="text-align: center;">Registro</h2>
<div style=" padding: 15px; border-radius:15px; width: 50%; margin: auto;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
  <form (ngSubmit)="signup()" #signupForm="ngForm">
    <label for="name">Nombre:</label>
    <input type="text" id="name" [(ngModel)]="name" name="name" required>
    <br>
    <label for="email">Correo Electrónico:</label>
    <input type="email" id="email" [(ngModel)]="email" name="email" required>
    <br>
    <label for="password">Contraseña:</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" required (input)="validatePassword()">
    <div *ngIf="passwordErrors.length > 0" class="error-messages">
      <p class="text-danger"><strong>Errores en la contraseña:</strong></p>
      <p *ngFor="let error of passwordErrors" class="text-danger">{{ error }}</p>
    </div>
    <div *ngIf="passwordSuggestions.length > 0" class="suggestion-messages">
      <p class="text-suggestion"><strong>Sugerencias para mejorar la contraseña:</strong></p>
      <p *ngFor="let suggestion of passwordSuggestions" class="text-suggestion">{{ suggestion }}</p>
    </div>
    <br>
    <div *ngIf="showTokenField">
      <label for="token">Token:</label>
      <input type="text" id="token" [(ngModel)]="token" name="token" required style="width: 100%; padding: 8px; margin-top: 5px; border: 1px solid #ccc; border-radius: 4px;">
      <br>
    </div>
    <button type="submit" [disabled]="!signupForm.valid || passwordErrors.length > 0">Registrarse</button>
  </form>
</div>
