<strong>Number of input qubits</strong>
<input type="number" [(ngModel)]="inputQubits" min="1"> 
<br>
<strong>Number of output qubits</strong>
<input type="number" [(ngModel)]="outputQubits" min="1">
<br>
<strong>Nombre del circuito</strong>
<input type="text" [(ngModel)]="circuitName" placeholder="Nombre del circuito">
<br>

<button (click)="buildMatrix()" [disabled]="inputQubits <= 0 || outputQubits <= 0">Build Matrix</button>
<br>

<table *ngIf="showMatrix"> <!-- Mostrar la tabla solo si showMatrix es true -->
  <tr>
    <td [attr.colspan]="inputQubits + outputQubits">
      <button (click)="createCircuit()">Create circuit</button>
    </td>
  </tr>
  <tr>
    <td [attr.colspan]="inputQubits + outputQubits">
      <p *ngIf="creationMessage && creationMessage.includes('ID:')"style="color: green;">
        <strong style="color: black;">ID del Circuito:</strong> {{ creationMessage.split('ID:')[1].trim() }}
      </p>
    </td>
  </tr>
  <tr>
    <td [attr.colspan]="inputQubits + outputQubits">
      <button (click)="generateCode()">Generate Code</button>
    </td>
  </tr>
  <tr *ngFor="let row of matrix.values; let rowNumber = index">
    <td *ngFor="let value of row; let colNumber = index">
      <span *ngIf="colNumber < inputQubits" style="color: blue">
        {{ value }}
      </span>
      <span *ngIf="colNumber >= inputQubits" (click)="negate(rowNumber, colNumber)" style="color: red">
        {{ value }}
      </span>
    </td>
  </tr>
</table>

<div>
  <strong>Ingrese el ID del circuito:</strong>
  <input type="text" [(ngModel)]="circuitId" placeholder="Circuit ID">
  <button (click)="getCircuit()">Recuperar Circuito</button>
</div>

<div *ngIf="retrievedCircuit">
  <h3>Circuito Recuperado:</h3>
  <p><strong>ID:</strong> {{ retrievedCircuit.id }}</p>
  <p><strong>Output Qubits:</strong> {{ retrievedCircuit.outputQubits }}</p>
  <p><strong>Nombre:</strong> {{ retrievedCircuit.name || 'Sin nombre' }}</p>
  <p><strong>Número de Qubits:</strong> {{ retrievedCircuit.qubits }}</p>
  <h4>Tabla de Verdad:</h4>
  <table border="1">
    <tr>
      <th *ngFor="let col of retrievedCircuit.table[0]; let i = index">
        <span [style.color]="i < retrievedCircuit.table[0].length - retrievedCircuit.outputQubits ? 'blue' : 'red'">
          Columna {{ i + 1 }}
        </span>
      </th>
    </tr>
    <tr *ngFor="let row of retrievedCircuit.table">
      <td *ngFor="let cell of row; let colNumber = index">
        <span [style.color]="colNumber < retrievedCircuit.table[0].length - retrievedCircuit.outputQubits ? 'blue' : 'red'">
          {{ cell }}
        </span>
      </td>
    </tr>
  </table>
</div>