body {
  background-color: #202024; /* Hereda el color de fondo global */
}

h2 {
  color: #343a40;
}

.table {
  margin-top: 20px;
  background-color: #202024;
}

button {
  margin: 5px;
}

div {
    background-color: #202024;
}

body, div, h2, label, input, td, span {
    color: inherit;
}