<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 30vh;">
  <h2 style="text-align: center;">Iniciar Sesión</h2>
  <div id="div2" style="background-color: #202024; padding: 20px; border-radius: 10px; width: 50%; text-align: center;">
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <label for="name" style="margin-right: 10px;">Nombre:</label>
      <br>
      <input type="text" id="name" [(ngModel)]="name" name="name" required>
      <br><br>
      <label for="pwd" style="margin-right: 10px;">Contraseña:</label>
      <br>
      <input type="password" id="pwd" [(ngModel)]="pwd" name="pwd" required>
      <br><br>
      <button type="submit" [disabled]="!loginForm.valid" style="border: none;">Iniciar Sesión</button>
    </form>
    <div *ngIf="showTokenField" style="margin-top: 15px;">
    <label for="token">Token de verificación:</label>
    <input type="text" id="token" [(ngModel)]="token" name="token" required style="width: 100%; padding: 8px; margin-top: 5px; border: 1px solid #ccc; border-radius: 4px;">
  </div>
  </div>
</div>